# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Android
**/android/.gradle/
**/android/local.properties
**/android/key.properties
**/android/upload-keystore.jks

# iOS / macOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/macos/Pods/

# Generated assets cache
output/
tmp/
tmp_emu*.png
